$bg-color: #292C3E;

body,
html,
#app {
  margin: 0;
  height: 100%;
  width: 100%;
}

#install-button {
  margin: 20px 0;
  text-align: center;
}

.page {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
}

.page__master {
  width: 300px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
  align-self: stretch;
  border-right: solid 1px #222E55;
  background-color: $bg-color;
  color: white;
  overflow-y: scroll;
}

.page__slave {
  flex: 1 1 auto;
  align-self: stretch;
  overflow: hidden;
  position: relative;
}

.page__details {
  width: 100px;
  height: 100px;
  background-color: 'red';
}

.menu__logo {
  padding: 30px 15px 15px;
  text-align: center;
}

.menu__logo img {
  width: 80px;
}

.menu__items {

}

.menu__label {
  color: white;
}

.menu__item {
  min-height: 30px;
  padding: 15px 30px;
  display: block;
  display: flex;
  justify-content: center;
  text-decoration: none;
  flex-direction: column;
  color: #C9D2F5;
}

.menu__item--active {
  color: #2D92B3;
}

.menu__item > a:link,
.menu__item > a:visited {
  color: #C9D2F5;
  text-decoration: none;
}

.menu__item > a.menu__subitem--active {
  color: #9E4496;
}

.menu__item:first-child {
}

.menu__item:link:hover {
  background-color: gray;
}
