.app-intent-form {
  label {
    display: inline-block;
    width: 150px;
    text-align: right;
  }
  input {
    display: inline-block;
    font-family: LatoLatinWeb,Helvetica,sans-serif;
    width: 75px;
    border: 0;
    border-bottom: 2px solid gray;
    padding: 0 10px;
  }
  input:focus {
    outline-width: 0;
    border-color: $bg-color;
  }

  label, input {
    font-size: 24px;
  }
}
