.detail {
  padding: 10px;
  margin: 10px;
  position: relative;
  max-width: calc(100% - 200px);
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);;
  box-shadow: 3px 3px 3px 3px #888888;
}

.detail .clear {
  cursor: pointer;
}

.detail-title {
  margin: 3px;
}

.details-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.details-container-title {
  margin: 3px;
}
