.frameworks {
  padding: 10px;
  position: absolute;
  text-align: right;
  right: 0;
  width: 200px;
}

.frameworks__label {
  color: #555;
}

.frameworks__item {
  display: block;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.frameworks__item > a:link,
.frameworks__item > a:visited {
  color: #C9D2F5;
  text-decoration: none;
}

.frameworks__item.frameworks__item--active {
  color: #9E4496;
}

.framework__item__color {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  display: inline-block;
}

.framework__item__text {
  max-width: calc(100% - 30px);
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
}
