.galaxy {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.galaxy__node {
  stroke: #C3E7F5;
  stroke-width: 3px;
}

.galaxy__node:hover {
  stroke-width: 4.5px;
}

.galaxy__link {
  stroke: #C3E7F5;
  stroke-opacity: .6;
}
