.galaxy {
  width: 100%;
  height: 100%;
}

.galaxy__container {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  left: 0;
  margin: 0;
}

.galaxy__node {
  stroke: #C3E7F5;
  stroke-width: 3px;
}

.galaxy__node__framework {
  stroke-width: 0px;
}

.galaxy__node:hover {
  stroke-width: 4.5px;
}

.galaxy__link {
  stroke: #C3E7F5;
  stroke-opacity: .6;
}
